@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url('./images/popuga.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  text-align: center;
  color: #fdfdfd;
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 20px #003cc5;
}

main {
  margin-top: 30px;
  margin-left: -150px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.controllers {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-right: 15px;
  padding: 20px;
  border: 1px solid #003cc5;
}

.clear_button {
  text-align: center;
  border: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fdfdfd;
  border-radius: 10px;
  background-image: linear-gradient(to right, #003cc5 0%, #0b63f6 51%, #003cc5 100%);
  padding: 150px 30px;
  font-size: 30px;
  margin-bottom: 30px;
}

.clear_button:hover {
  background-position: right center;
}

.color_choose {
  display: flex;
  color: #fdfdfd;
  margin-bottom: 50px;
  align-items: center;
}
.color_choose label {
  font-size: 20px;
}
.color_input {
  margin-right: 5px;
}

.board {
  position: relative;
  border: 1px solid #003cc5;
  background-color: rgb(16, 15, 14);
  width: 620px;
  height: 620px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 0;
  border-radius: 4px;
}

.cell {
  box-sizing: border-box;
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
}
